
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');

body{
    background-color: #f4f4f4;
    font-family: 'Alkatra', sans-serif;

}

section{
    width: 1200px;
    margin: 50px;
    margin: 0 auto;
}

#header{
    padding: 30px;

}

#header div{
    display: inline-block;

}

#header .contato{
    float: right;

}

nav.menu{
    background-color: #ffda1f;
    text-align: center;

}   

nav.menu ul li{
    display: inline-block;
    padding: 18px 90px;
    font-size: 17px;

}

nav.menu ul li a{
    color: #000;

}

a{
    text-decoration: none;

}

.banner img{
    width: 100%;

}


.marcas ul li {
    display: inline-block;
    font-size: 35px;
    width: 16%;
    padding: 50px;

}

.item {
    display: inline-block;
    width: 30%;
    padding: 1.5%;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    color: #474747

}

.item img {
    width: 100%;
    text-align: center

}

.item .title {
    font-size: 23px;
    font-weight: bold;
}

.financiamento {
    background: #ffda1f;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 50px;
    line-height: 40px;
    border-radius: 10px

}

.botao a {
    background: black;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;

}

.botao {
    margin-top: 30px;
    
}

.produtos, .depoimentos {
    text-align: center;
    margin: 50px 0px;
    
}

.titulo {
    font-size: 45px;
    font-weight: bold;

}

.subtitulo {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;

}

.sublinhado {
    width: 150px;
    background: #ffda1f;
    height: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;

}

a:hover {
    transition: 0.3s;
    opacity: 0.8;

}

footer {
    background: #474747

}

footer .item {
    color:#f4f4f4;

}
.depoimentos .item{
     border: 1px solid #474747; 
     width: calc(30% - 2px)

}
.depoimentos img{
    width: 100px;
    border-radius: 50px;
}
.depoimentos .cliente{
    margin-bottom: -80px;
    padding-top: 10px;
}
.depoimentos .cliente .nome{
    font-weight: bold;

}